@model AcmeApp.Models.AdvertisementModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AdvertisementModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdId)
            @Html.ValidationMessageFor(model => model.AdId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdName)
            @Html.ValidationMessageFor(model => model.AdName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublishDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublishDate)
            @Html.ValidationMessageFor(model => model.PublishDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddDate)
            @Html.ValidationMessageFor(model => model.AddDate)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.NewsPaperId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewsPaperId)
            @Html.ValidationMessageFor(model => model.NewsPaperId)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.PaperName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaperName)
            @Html.ValidationMessageFor(model => model.PaperName)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.NewsPaperId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.NewsPaperId, Model.Newspapers)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
