@model AcmeApp.Models.NewspaperModel

@{
    ViewBag.Title = "Newspaper Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Newspaper Details</h2>

<fieldset>
    <legend>NewspaperModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
